/**
  * Additional CSS to accomodate Underscores starter WP theme
  */

.site-branding {
  margin: .5rem 0 0 .25rem;
}

.site-title {
	margin: 0 0 .25rem;
	font-size: 7.5vw;
	line-height: 100%;
	-webkit-transition-delay: 2s;
	-moz-transition-delay: 2s;
	-o-transition-delay: 2s;
	transition-delay: 2s;
}

.site-description {
	margin: 0 0 .25rem;
	font-size: 4.5vw;
	line-height: 100%;
	-webkit-transition-delay: 3s;
	-moz-transition-delay: 3s;
	-o-transition-delay: 3s;
	transition-delay: 3s;
	transition-delay: 3s;
}

.entry-title {
	margin: .25rem 0 0 .25rem;
  font-size: 6vw;
}

.entry-title, .widget-title {
	line-height: 100%;
	-webkit-transition-delay: 4s;
	-moz-transition-delay: 4s;
	-o-transition-delay: 4s;
	transition-delay: 4s;
}

.entry-meta {
	margin: .25rem 0 0 .25rem;
	-webkit-transition-delay: 5s;
	-moz-transition-delay: 5s;
	-o-transition-delay: 5s;
	transition-delay: 5s;
}

.row .col.offset-s2dot5 {
	margin-left: 20.3333333333%;
}

.widget-title {

  margin: 0 0 0 .5rem;
  font-size: 4vw;
  text-transform: lowercase;
}

@media only screen and (min-width: 360px) {
  p {
    font-size: 1.2rem;
  }
}

@media only screen and (min-width: 390px) {
  p {
    font-size: 1.224rem;
  }
}

@media only screen and (min-width: 420px) {
  p {
    font-size: 1.248rem;
  }
}

@media only screen and (min-width: 450px) {
  p {
    font-size: 1.272rem;
  }
}

@media only screen and (min-width: 480px) {
  p {
    font-size: 1.296rem;
  }
}

@media only screen and (min-width: 510px) {
  p {
    font-size: 1.32rem;
  }
  .site-description {
		font-size: 2.5vw;
	}

	.entry-title {
		font-size: 4vw;
	}

	.entry-meta {
		margin: 0 0 0 .25rem;
	}

}

@media only screen and (min-width: 540px) {
  p {
    font-size: 1.344rem;
  }
}

@media only screen and (min-width: 570px) {
  p {
    font-size: 1.368rem;
  }
}

@media only screen and (min-width: 600px) {
  p {
    font-size: 1.392rem;
  }
}

@media only screen and (min-width: 601px) {
	.row .col.offset-m2dot5 {
		margin-left: 20.3333333333%;
	}
}

@media only screen and (min-width: 630px) {
  p {
    font-size: 1.416rem;
  }
}

@media only screen and (min-width: 660px) {
  p {
    font-size: 1.44rem;
  }
}

@media only screen and (min-width: 690px) {
  p {
    font-size: 1.464rem;
  }
}

@media only screen and (min-width: 720px) {
  p {
    font-size: 1.488rem;
  }
}

@media only screen and (min-width: 750px) {
  p {
    font-size: 1.512rem;
  }
}

@media only screen and (min-width: 780px) {
  p {
    font-size: 1.536rem;
  }
}

@media only screen and (min-width: 810px) {
  p {
    font-size: 1.56rem;
  }
}

@media only screen and (min-width: 840px) {
  p {
    font-size: 1.584rem;
  }
}

@media only screen and (min-width: 870px) {
  p {
    font-size: 1.608rem;
  }
}

@media only screen and (min-width: 900px) {
  p {
    font-size: 1.632rem;
  }
}

@media only screen and (min-width: 930px) {
  p {
    font-size: 1.656rem;
  }
}

@media only screen and (min-width: 960px) {
  p {
    font-size: 1.68rem;
  }
}

@media only screen and (min-width: 993px) {
	.row .col.offset-l2dot5 {
		margin-left: 20.3333333333%;
	}
}

@media only screen and (min-width: 1201px) {
	.row .col.offset-xl2dot5 {
		margin-left: 20.3333333333%;
	}
}

@media only screen and (max-width: 360px) {
  p {
    font-size: 1.2rem;
  }
  .widget-title {
		font-size: 5vw;
	}
}
